doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no', name='viewport')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Sign In | Sewing Factory
    link(rel='icon', href='favicon.ico', type='image/x-icon')
    // Google Fonts
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700', rel='stylesheet')
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet', type='text/css')
    // Bootstrap Core Css
    link(href='/assets/plugins/bootstrap/dist/css/bootstrap.css', rel='stylesheet')
    // Font Awesome Css
    link(href='/assets/plugins/font-awesome/css/font-awesome.min.css', rel='stylesheet')
    // iCheck Css
    link(href='/assets/plugins/iCheck/skins/flat/_all.css', rel='stylesheet')
    // Select 2 Css
    link(href='/assets/plugins/select2/dist/css/select2.css', rel='stylesheet')
    // Custom Css
    link(href='/assets/css/style.css', rel='stylesheet')
    link(href='/assets/css/custom.css', rel='stylesheet')
  body.sign-in-page
    .signin-form-area
      h1
        b Sewing
        |  - Factory
      .signin-top-info Sign in to start your session
      .row.padding-15
        .col-sm-2.col-md-2.col-lg-4
        .col-sm-8.col-md-8.col-lg-4
          form#frmSignin(action='/login' method='post' onsubmit='return validateForm()')
            .form-group.has-feedback
              span.alert-email.alert(style='color: red;') Please input correct email.
            .form-group.has-feedback
              input#Email.form-control(type='email', placeholder='Email', name='Email', required='')
              span.glyphicon.glyphicon-envelope.form-control-feedback
            .form-group.has-feedback
              input#Password.form-control(type='password', placeholder='Password', name='Password', required='')
              span.glyphicon.glyphicon-lock.form-control-feedback
            .row
              .col-xs-6
                .checkbox.icheck
                  input#r_1(type='checkbox', name='remember')
                  label(for='r_1') Remember User
              .col-xs-4.col-xs-offset-2
                select.language-bar.lang(style='width: 100%;', name='lang')
                  option(value='spa') Spanish
                  option(value='kor') Korean
                  option(value='eng') English                  
            .form-group
              button.btn.btn-success.btn-block.btn-flat(type='submit') Sign In
            .form-group
              a.pull-right(href='/forget')
                | Forgot Password
                i.fa.fa-unlock.m-l-5.font-14
              a(href='/signup')
                i.fa.fa-user-circle-o.m-r-5
                | Join Memeber!
        .col-sm-2.col-md-2.col-lg-4
    // Jquery Core Js
    script(src='/assets/plugins/jquery/dist/jquery.min.js')
    // Bootstrap Core Js
    script(src='/assets/plugins/bootstrap/dist/js/bootstrap.min.js')
    // iCheck Js
    script(src='/assets/plugins/iCheck/icheck.js')
    // Jquery Validation Js
    script(src='/assets/plugins/jquery-validation/dist/jquery.validate.js')
    // Select 2 Js
    script(src='/assets/plugins/select2/dist/js/select2.js')
    script.
      $(document).ready(function() {
        $('.language-bar').select2();
      });

      $('.alert-email').hide();

      function validateForm(){        
        var email = $('#Email').val();
        var reg = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        if(!reg.test(email)){
          $('.alert-email').show();
          setTimeout(function(){ $('.alert').hide(); }, 1000);
          return false;
        }else{
          return true;
        }
      }
