extends ../layout
block content
  section.content.dashboard
    .panel.panel-default
      .panel-heading
        a.btn.btn-sm.btn-success(href='/dashboard/order/new')
          i.fa.fa-plus.m-r-5
          | Add New Order
      .panel-body
        table.table.table-striped.table-hover.js-exportable.dataTable
          thead
            tr
              th No.
              th Date
              th Handler
              th Order#
              th Buyer
              th Style
              th Product
              th Size Group
              th Product Group
              th Finish Group
              th Quantity
              th Amount
          tbody
            tr
              td 1
              td 2018-03-07
              td Mary Kim
              td 1811259-01
              td Li&Fung (Express)
              td 8605054
              td 111 B/O London Tank
              td S1
              td M1
              td F1
              td 27,601 pcs
              td $320,800
